.error-message {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  font-weight: 600;

  &.success {
    background: #198754;
  }

  &.warning {
    background: #ffda6a;
    color: #000;
  }

  &.error {
    background: #dc3545;
    color: #fff;
  }
}
