@import "../../styles/variables";

.messages_list {
  grid-area: messages;
  min-width: 400px;
  background: #36393f;
  position: relative;

  .messages {
    max-height: 95%;
    padding-top: 3rem;
    overflow-y: auto;
    width: 100%;
    position: absolute;
    bottom: 6rem;
    display: flex;
    flex-direction: column;
  }
}

.start-of-channel {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #4b4d53;

  h1 {
    color: $white;
    margin-bottom: 0.2rem;
  }

  p {
    font-size: 1.1rem;
    color: $light-gray;
    font-weight: 500;
  }
}

.message-item {
  width: 100%;
  display: flex;
  padding: 0.4rem 1rem;
  margin: 0.2rem 0;
  transition: background 150ms;
  position: relative;

  .avatar {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
    border: none;
    background: none;
    cursor: pointer;

    & img {
      border-radius: 100%;
      width: 100%;
      height: 100%;
    }
  }

  .content {
    margin-left: 0.5rem;
    width: 100%;

    header {
      width: max-content;
      font-size: 1rem;
      font-weight: 600;
      color: $light-gray;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    div {
      color: $white;
      word-break: break-all;
    }
  }

  .message-actions {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 1rem;
    top: -1rem;
    transition: 200ms;
    display: flex;
    background: $light-black;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);

    .message-action {
      display: grid;
      place-items: center;
      border: none;
      text-align: center;
      padding: 0.5rem;
      font-size: 1.2rem;
      cursor: pointer;
      background: transparent;
      transition: background 150ms;

      svg {
        fill: $light-gray;
      }

      &.delete {
        svg {
          fill: $red;
        }
      }

      &:hover {
        background: $dark-gray;
      }
    }
  }

  .edit-message-input {
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    border: none;
    background: $blue-gray;
    color: $white;
    width: 100%;
    outline: none;
    font-size: 1.1rem;
  }

  &:hover {
    background: $dark-gray;

    .message-actions {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.loading-center {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
