@import "../../styles/variables";

.create-message-container {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  right: 1rem;

  form {
    width: 100%;
    display: flex;
    background: $gray;
    border-radius: 0.5rem;
    padding-left: 0.8rem;
    align-items: center;
    box-shadow: 0 -5px 5px -5px rgba($color: $dark-gray, $alpha: 0.5);
  }

  .icon-container {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;

    svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: $dark-gray;
      background: $light-gray;
      border-radius: 50%;
    }
  }

  .create-message-input {
    font-size: 1rem;
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    background: $gray;
    border: none;
    color: $white;
    outline: none;

    border-radius: 0.5rem;
  }

  .create-message-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
  }
}
