@import "../../styles/variables";

.navbar {
  grid-area: nav;
  width: 100%;
  height: 50px;
  background: #36393f;
  color: $white;
  display: flex;

  .channel_info {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    border-bottom: 1.5px solid #272727;
    width: 100%;

    svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: $light-gray;
    }

    .channel_name {
      font-size: 1.2rem;
      font-weight: 600;
      user-select: none;
      -moz-user-select: none;
    }

    .channel_name_divider {
      width: 2px;
      height: 50%;
      background-color: $dark-gray;
      margin: 0 0.8rem;
      border-radius: 0.2rem;
    }

    button {
      background: none;
      border: none;
      color: $light-gray;
      font-size: 1rem;
      outline: none;
      cursor: pointer;
    }
  }

  .guild_title_container {
    position: relative;

    .guild_title {
      border: none;
      cursor: pointer;
      color: $white;
      width: 250px;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 1rem;
      font-size: 1.1rem;
      font-weight: 600;
      background: $dark-gray;
      border-bottom: 1.5px solid #1a1a1a;
      white-space: nowrap;
      overflow: hidden;
      outline: none;
      transition: filter 200ms;

      &:hover {
        filter: brightness(115%);
      }
    }

    .guild_title_dropdown {
      margin-top: 0.5rem;
      position: absolute;
      z-index: 10;
      opacity: 0;
      transform: scale(0);
      transform-origin: top center;
      width: 100%;
      display: flex;
      justify-content: center;

      .dropdown_content {
        border-radius: 0.3rem;
        background: #18191c;
        width: 90%;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
      }

      .dropdown_btn {
        text-align: left;
        background: transparent;
        padding: 0.4rem 0.5rem;
        border-radius: 0.2rem;
        cursor: pointer;
        color: $light-gray;
        font-size: 1.1rem;
        border: none;
        margin: 0.1rem 0;
        transition: background 150ms, color 150ms;
        outline: none;

        &:hover {
          color: $white;
          background: $blue;
        }
      }

      &.active {
        opacity: 1;
        transform: scale(1);
        pointer-events: all;
        transition: opacity 200ms, transform 200ms;
      }
    }
  }
}
