@import "_variables.scss";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Assistant, sans-serif;
}

body {
  background: $dark-gray;
}

.app-container {
  display: grid;
  grid-template-areas:
    "guilds nav nav nav"
    "guilds channels messages members"
    "guilds channels messages members"
    "guilds channels messages members";
  grid-template-rows: 50px;
  grid-template-columns: 70px 250px auto 250px;
  height: 100vh;
}
